/* Background */
.content {
  background: lightblue;
}

/* Skills bars */

#skills {
  font-size: 20px;
  height: auto;
}

.skillbar {
  height: 25px;
  position: relative;
  background: rgba(226, 194, 194, 0.3);
  margin: 0 0 20px auto;
}

/* HTML skill bar and animation */

#HTML {
  width: 100%;
  animation: Animate-HTML 4s;
  -webkit-animation: Animate-HTML 4s;
  -moz-animation: Animate-HTML 4s;
  -o-animation: Animate-HTML 4s;
  height: 25px;
  position: absolute;
  background-color: #ea8564;
}

@keyframes Animate-HTML {
  from {
    width: 10px;
  }
  to {
    width: 100%;
  }
}

@-webkit-keyframes Animate-HTML {
  from {
    width: 10px;
  }
  to {
    width: 100%;
  }
}

@-moz-keyframes Animate-HTML {
  from {
    width: 10px;
  }
  to {
    width: 100%;
  }
}

@-o-keyframes Animate-HTML {
  from {
    width: 10px;
  }
  to {
    width: 100%;
  }
}

/* CSS skill bar and animation */

#CSS {
  width: 70%;
  animation: Animate-CSS 4s;
  -webkit-animation: Animate-CSS 4s;
  -moz-animation: Animate-CSS 4s;
  -o-animation: Animate-CSS 4s;
  height: 25px;
  position: absolute;
  background-color: green;
}

@keyframes Animate-CSS {
  from {
    width: 10px;
  }
  to {
    width: 70%;
  }
}

@-webkit-keyframes Animate-CSS {
  from {
    width: 10px;
  }
  to {
    width: 70%;
  }
}

@-moz-keyframes Animate-CSS {
  from {
    width: 10px;
  }
  to {
    width: 70%;
  }
}

@-o-keyframes Animate-CSS {
  from {
    width: 10px;
  }
  to {
    width: 70%;
  }
}

/* Hero background */

/* .hero-bg {
    @extend .hero;
    background-image: url("../images/hero-bg.jpg");
    background-position: center;
    background-size: cover;
  } */
