@charset "utf-8";

$navbar-item-active-background-color: red;

.post p,
.post h2,
.post h3,
.post h4,
.post ul {
  margin-bottom: 1.5rem;
}

.post h2 {
  font-weight: 500;
  font-size: 2rem;
}

.post h3 {
  font-weight: 400;
  font-size: 1.5rem;
}

.post h4 {
  font-weight: 300;
  font-size: 1rem;
}

.post ul {
  padding-left: 1.5rem;
}

.post li {
  list-style-type: disc;
}

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

@import '~bulma/bulma.sass';
